{% load static %}
<!doctype htms>
<html lang="en" style="overflow: hidden;">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'message.css' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>ZebraPro</title>
    <link rel="shortcut icon" href="Logo.png" type="image/x-icon">
    <script src='{% static 'message.js' %}'></script>
    
</head>

<body>

    <main style="margin-right:calc(100%+var(--offcanvas-width));">
        <div class="container-messege">
            <div class="container-right">
                <div class="cont-right-top">
                    <input type="text" placeholder="Search">
                    <i class="bi bi-pencil-square"></i>
                </div>
                <hr class="messege-line">
                <div class="cont-right-bottom">
                    <ul>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                        <li>
                            <div class="messege-main">
                                <div class="img-span-name">
                                    <img src="Avatar.png" alt="">
                                    <div class="name-info">
                                        <span class="name">Raddhika Sunderka</span>
                                        <span class="info">I was wondering...</span>
                                    </div>
                                </div>
                                <span class="time">12:00 PM</span>
                            </div>
                            <hr class="messege-line">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-left">
                <div class="left-top-cont">
                    <span class="left-middle-to">To:
                        <span class="left-top-name">Thomas Bangalter</span>
                    </span>
                </div>
                <div class="left-middle-cont">
                    <div class="left-timebar">
                        <span>Today, 3:38 AM</span>
                    </div>
                    <div class="left-main-messege">
                        <span>But we’re probably gonna need a new carpet.</span>
                    </div>
                    <div class="right-main-messege">
                        <span>Umm... Someone took a shit in the hallway.</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="left-main-messege">
                        <span>... what.</span>
                    </div>
                    <div class="right-main-messege">
                        <span>Are you serious?</span>
                    </div>
                    <div class="left-main-messege">
                        <span>Wasup for the third time like is
                            you blind bitch</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                    <div class="right-main-messege">
                        <span>It’s not that bad...</span>
                    </div>
                </div>
                
                
                <div class="left-bottom-cont">
                    <!--{% if user.is_authenticated %}
                    <input type="hidden" id="logged-in-user" value="{{ user.id }}" />
                    {% endif %}-->
                    <i class="bi bi-paperclip"></i>
                    <input type="text" id="chat-message-input" />
                    <i class="bi bi-emoji-smile"></i>
                    <button
                      type="submit"
                      id="chat-message-submit"
                      style="border: none; padding: 10px"
                    >
                      <i class="bi bi-cursor"></i>
                    </button>
                  </div>
                

            </div>
        </div>

    </main>

</htms>